@model Seen.Models.Answers
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>s e e n</title>
    <style>
    #map {
        height: 50%;
        width: 60%;
        margin: auto;
        border-radius: 5%;
        border: 5px solid;
        border-color: #DC82A4;
        padding: 10px;
        opacity: 0.75;
        margin-top: 100px;
        margin-bottom:100px;
        }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        }
     
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        width: 50%;
        }

     footer {
        position: absolute;
        letter-spacing: 8px;
        margin-top: 40px;
        color: slategrey;
        display: block;
        align-content: center;
        align-items: center;
        width: 100%;
        height: 40px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        }
     #form {
        font-family:Arial, Helvetica, sans-serif;
       }
          
    </style>
</head>
<body>
    <a href="/">
        <img src="https://i.imgur.com/3kGnqYa.png" alt="s e e n">
    </a>

    <div id="map" height="460px" width="100%"></div>
    <div id="form">
        <form action="Add" method="post">
            <table>
                <tr><td>Social Handle:</td> <td><input type='text' name="SocialHandle" /> </td> </tr>
                <tr>
                    <td>Date:</td>
                    <td>
                        <input type="date" name="Day">
                    </td>
                </tr>
                <tr>
                    <td>Latitude:</td>
                    <td>
                        <input size="20" type="number" step="any" id="latbox" name="Latitude">
                    </td>
                </tr>
                <tr>
                    <td>Longitude:</td>
                    <td>
                        <input size="20" type="number" id="lngbox" step="any" name="Longitude">
                    </td>
                </tr>
                <tr>
                    <td>Hairstyle</td>
                    <td>
                        <select name='Hairstyle'>
                            +
                            @for (int i = 0; i < Model.hairStyles.Count; i++)
                            {
                                <option value='@Model.hairStyles[i]'>@Model.hairStyles[i]</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Hair Color</td>
                    <td>
                        <select name='HairColor'>
                            +
                            @for (int i = 0; i < Model.hairColors.Count; i++)
                            {
                                <option value='@Model.hairColors[i]'>@Model.hairColors[i]</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>
                        <select name='Gender'>
                            +
                            @for (int i = 0; i < Model.genders.Count; i++)
                            {
                                <option value='@Model.genders[i]'>@Model.genders[i]</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Glasses?</td>
                    <td>
                        <select name='Glasses'>
                            +
                            <option value='true'>Yes</option>
                            <option value='false'>No</option>
                        </select>
                    </td>
                </tr>
            </table>
            <button type="submit">SUBMIT</button>
        </form>
    </div>

    <script>var map;
var marker;
var infowindow;
var messagewindow;

function initMap() {
            var california = { lat: 47.507589, lng: 19.066128 };
            map = new google.maps.Map(document.getElementById('map'), {
                center: california,
                zoom: 13
            });

            infowindow = new google.maps.InfoWindow({
                content: document.getElementById('form')
            });

            google.maps.event.addListener(map, 'click', function(event) {
                marker = new google.maps.Marker({
                    position: event.latLng,
                    map: map
                });


                google.maps.event.addListener(marker, 'click', function() {
                    infowindow.open(map, marker);
                });

                google.maps.event.addListener(marker, 'click', function(event) {
                    document.getElementById("latbox").value = event.latLng.lat();
                    document.getElementById("lngbox").value = event.latLng.lng();
                });
            });
}

</script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeryQUReAomPDiBe6toux-gRCazvnZHnQ&callback=initMap"></script>
    <footer>2018 - Blanka Eszter Hoóz & Máté Dugas</footer>
</body>
</html>
