<!DOCTYPE html>
<html>
<head>
    <title>s e e n</title>
    <style>
        #map {
            height: 50%;
            width: 60%;
            margin: auto;
            border-radius: 5%;
            border: 5px solid;
            border-color: #DC82A4;
            padding: 10px;
            opacity: 0.75;
            margin-top: 100px;
            margin-bottom: 40px;
        }
        #itsme {
            font-size: 2em;
            text-decoration: none;
            color: #DC82A4;
        }

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            width: 50%;
        }

        footer {
            position: absolute;
            letter-spacing: 8px;
            margin-top: 40px;
            color: slategrey;
            display: block;
            align-content: center;
            align-items: center;
            width: 100%;
            height: 40px;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }
        p{
            font-size:1em;
            color: #5B89C7;
        }

        #form {
            font-family: Arial, Helvetica, sans-serif;
        }
        p{
            
        }
    </style>
</head>
<body>
    <a href="/">
        <img src="https://i.imgur.com/3kGnqYa.png" alt="s e e n">
    </a>
    <div id="map"></div>
    <script type="text/javascript">
        window.onload = function () {
            var locations = [
                
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <text>
                [
                    "@Model[i].Latitude",
                    "@Model[i].Longitude",
                    "@Model[i].Id",
                    "@Model[i].HairColor",
                    "@Model[i].HairStyle",
                    "@Model[i].Gender",
                    "@Model[i].Glasses",
                    

                ],
                        </text>
                    }
                
            ];
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: new google.maps.LatLng(47.507589, 19.066128),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            var infowindow = new google.maps.InfoWindow();
            function createMarker(latlng, id, haircolor, hairstyle, gender, glasses) {
                var marker = new google.maps.Marker({
                    position: latlng,
                    map: map
                });
                google.maps.event.addListener(marker, 'click', function () {
                    var content = `<p>Hair:</p>${haircolor}, <br> ${hairstyle} <br><p>Gender:</p> ${gender} <br> <p>Glasses?</p> ${glasses} <br><br><a href="itsamatch/${id}" id="itsme">IT'S ME!</a>`;
                    infowindow.setContent(content);
                    infowindow.open(map, marker);
                });
                return marker;
            }
            for (var i = 0; i < locations.length; i++) {
                createMarker(new google.maps.LatLng(locations[i][0], locations[i][1]), locations[i][2], locations[i][3], locations[i][4], locations[i][5], locations[i][6]);
            }
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeryQUReAomPDiBe6toux-gRCazvnZHnQ&callback=initMap">
    </script>
    <footer>2018 - Blanka Eszter Hoóz & Máté Dugas</footer>

</body>
</html>
